/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.footer[b-8oquslacbn] {
  position: static;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.header1[b-8oquslacbn] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    background-color: #383d7a;
    width: 100%;
    height: 5.1rem;
    padding: 1rem;
}
.logoutButton[b-8oquslacbn] {
    background-color: #5b64c7;
    color: white;
    border-radius: 8%;
    border: none;
    height: 3rem;
    width: 8rem;
    font-size: .95rem;
    cursor: pointer;
}

.logoutButton:hover[b-8oquslacbn] {
    background-color: rgb(243, 13, 13);
}
.title[b-8oquslacbn] {
    color: white;
    width: 74%;
    font-size: 1.5rem;
    text-align: center;
    left: 3.7rem;
    position: relative;
}
.list1[b-8oquslacbn] {
    display: flex;
    flex-wrap: wrap;
    background-color: #5b64c7;
    width: 100%;
    height: 3rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}
.list2[b-8oquslacbn] {
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-bottom: 7px solid #5b64c7;
    padding-left: 0;
}
.listItem1[b-8oquslacbn] {
    display: flex;
    position: relative;
    height: 100%;
    width: 15rem;
    flex-wrap: wrap;
    background-color: #5b64c7;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}
.listItem2[b-8oquslacbn] {
    width: 100%;
}
.herff[b-8oquslacbn] {
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    padding: 0 0.5rem 0 0.5rem;
    text-decoration: none;
}
.herff:hover[b-8oquslacbn] {
    cursor: pointer;
    background-color: #383d7a;
    border-color: #0f112d;
    border-right: #0f112d;
    border-bottom: #0f112d;
    border-top: #0f112d;
}
.herffhover[b-8oquslacbn] {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    padding: 0 0.5rem 0 0.5rem;
    text-decoration: none;
    background-color: #383d7a;
    border-color: #0f112d;
    border-right: #0f112d;
    border-bottom: #0f112d;
    border-top: #0f112d;
    cursor:pointer;
 }
.herff1[b-8oquslacbn] {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
}
.herff1:hover[b-8oquslacbn] {
    cursor: pointer;
    background-color: #383d7a;
    border-color: #0f112d;
    border-right: #0f112d;
    border-bottom: #0f112d;
    border-top: #0f112d;
}
.menul[b-8oquslacbn] {

}
.Line[b-8oquslacbn] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: #383d7a;
    position: relative;
    z-index: 1;
}
.container[b-8oquslacbn] {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:0;
    margin-right:0;
    width:100%;
}